<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% if(name=='陈立文'){ %>
    <div>
        我是陈立文
    </div>
<% }else{%>
    <div>我是else里面的
    </div>
<% }%>
<form action="/post" method="post">
    name:<input type="text" name="name" value="chenliwen">
    <button>确定</button>
</form>
<%- JSON.parse(data)[3].id %>

<% JSON.parse(data).forEach(function (item,value,index) {%>
    <p><%- item.ftpinfoid %></p>
<% })%>

</body>
</html>