<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
<form action="/zhuce" method="post">
    <h3>注册</h3>
    name:<input type="text" name="name"><br>
    password:<input type="password" name="pas"><br>
    确认密码:<input type="password" name="qpas">
    <input type="submit" value="确定">
</form>
</body>
</html>